flask==2.1.2
flask-socketio==5.2.0
requests==2.27.1

# tools -> versions can be changed // don't need version info on db? 
nmap
amass
s3scanner
nuclei
enumerate-iam
cloud_enum

# Celery 비동기 처리 및 주기 실행을 위한 의존성
celery
redis

